body {
  background-color: lavender;
}

h1 {
  border: 5px outset SaddleBrown;
  border-radius: 12px;
  color: navy;
  margin-left: 20px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
label {
  font-family: "Courier New", Monaco, Monospace;
}
input {
  font-family: "Courier New", Monaco, Monospace;
}
